@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
}

.content {
  background: white;
  padding: 2em;

  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /* width: 90%;
  max-width: 500px; */
  width: min(500px, 90%);
}

.title {
  margin: 0 0 0.5em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: 0.8;

  font-size: clamp(1.65rem, 5vw, 2.75rem);
}

p {
  /* width: clamp(200px, 50%, 20rem); */
  /* font-size: calc(1vw + 0.5rem); */
  font-size: clamp(1rem, 2vw, 1.35rem);
}

.accent {
  color: var(--clr-primary);
}
